# Database data directory
pgdata/

# Environment files
.env
.env.*
#allow project.env


# Python virtual environments
.venv/
venv/
env/
ENV/

# pycache and other Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# all pdf files in data directory
data/*.pdf
docs/
